
NEXT_PUBLIC_GISCUS_REPO="your_giscus_repo"
NEXT_PUBLIC_GISCUS_REPO_ID="your_giscus_repo_id"
NEXT_PUBLIC_GISCUS_CATEGORY="your_giscus_category"
NEXT_PUBLIC_GISCUS_CATEGORY_ID="your_giscus_category_id"